<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <script src="bundle.js" async></script>
</head>
<body>
<section data-controller="index">
  <h1 class="">Hello World</h1>
</section>

</body>
</html>
